.button {
  display: inline-flex;
  background-color: var(--button-background-color);
  border: 2px solid var(--button-background-color);
  color: var(--button-color);
  border-radius: var(--button-border-radius);
  padding: var(--button-padding);
  font-weight: var(--button-font-weight);
  text-decoration: none;
  transition: background-color 0.3s ease, border-color 0.3s ease;
}

.button:focus-visible {
  outline-style: solid;
  outline-color: var(--button-background-color);
  outline-offset: 2px;
  outline-width: 2px;
}

/* Primary Buttons */
.button-primary-solid {
  background-color: var(--button-primary-solid-background-color);
  border-color: var(--button-primary-solid-background-color);
  color: var(--button-primary-solid-color);
}

.button-primary-solid:hover {
  background-color: var(--button-primary-solid-hover-background-color);
  border-color: var(--button-primary-solid-hover-border-color);
}

.button-primary-solid:focus-visible {
  outline-color: var(--button-primary-solid-background-color);
}

.button-primary-outline {
  background-color: var(--button-primary-outline-background-color);
  border-color: var(--button-primary-outline-border-color);
  color: var(--button-primary-outline-color);
}

.button-primary-outline:hover {
  background-color: var(--button-primary-outline-hover-background-color);
  border-color: var(--button-primary-outline-hover-border-color);
}

.button-primary-outline:focus-visible {
  outline-color: var(--button-primary-outline-border-color);
}

.button-primary-text {
  background-color: var(--button-primary-text-background-color);
  border-color: var(--button-primary-text-border-color);
  color: var(--button-primary-text-color);
}

.button-primary-text :hover {
  background-color: var(--button-primary-text-hover-background-color);
  border-color: var(--button-primary-text-hover-border-color);
}

.button-primary-text :focus-visible {
  outline-color: var(--button-primary-text-background-color);
}

/* Secondary Buttons */
.button-secondary-solid {
  background-color: var(--button-secondary-solid-background-color);
  border-color: var(--button-secondary-solid-background-color);
  color: var(--button-secondary-solid-color);
}

.button-secondary-solid:hover {
  background-color: var(--button-secondary-solid-hover-background-color);
  border-color: var(--button-secondary-solid-hover-border-color);
}

.button-secondary-solid:focus-visible {
  outline-color: var(--button-secondary-solid-background-color);
}

.button-secondary-outline {
  background-color: var(--button-secondary-outline-background-color);
  border-color: var(--button-secondary-outline-border-color);
  color: var(--button-secondary-outline-color);
}

.button-secondary-outline:hover {
  background-color: var(--button-secondary-outline-hover-background-color);
  border-color: var(--button-secondary-outline-hover-border-color);
}

.button-secondary-outline:focus-visible {
  outline-color: var(--button-secondary-outline-border-color);
}

.button-secondary-text {
  background-color: var(--button-secondary-text-background-color);
  border-color: var(--button-secondary-text-border-color);
  color: var(--button-secondary-text-color);
}

.button-secondary-text :hover {
  background-color: var(--button-secondary-text-hover-background-color);
  border-color: var(--button-secondary-text-hover-border-color);
}

.button-secondary-text :focus-visible {
  outline-color: var(--button-secondary-text-background-color);
}

/* Tertiary Buttons */
.button-tertiary-solid {
  background-color: var(--button-tertiary-solid-background-color);
  border-color: var(--button-tertiary-solid-background-color);
  color: var(--button-tertiary-solid-color);
}

.button-tertiary-solid:hover {
  background-color: var(--button-tertiary-solid-hover-background-color);
  border-color: var(--button-tertiary-solid-hover-border-color);
}

.button-tertiary-solid:focus-visible {
  outline-color: var(--button-tertiary-solid-background-color);
}

.button-tertiary-outline {
  background-color: var(--button-tertiary-outline-background-color);
  border-color: var(--button-tertiary-outline-border-color);
  color: var(--button-tertiary-outline-color);
}

.button-tertiary-outline:hover {
  background-color: var(--button-tertiary-outline-hover-background-color);
  border-color: var(--button-tertiary-outline-hover-border-color);
}

.button-tertiary-outline:focus-visible {
  outline-color: var(--button-tertiary-outline-border-color);
}

.button-tertiary-text {
  background-color: var(--button-tertiary-text-background-color);
  border-color: var(--button-tertiary-text-border-color);
  color: var(--button-tertiary-text-color);
}

.button-tertiary-text :hover {
  background-color: var(--button-tertiary-text-hover-background-color);
  border-color: var(--button-tertiary-text-hover-border-color);
}

.button-tertiary-text :focus-visible {
  outline-color: var(--button-tertiary-text-background-color);
}
