/* Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* CSS Variables */
/* --------------------------------------------- */

:root {
  /* Colours */
  /* --------------------------------------------- */

  /* https://tailwindshades.app/ */

  /* Primary */
  --color-primary-50: 243 247 252;
  --color-primary-100: 232 239 249;
  --color-primary-200: 197 214 240;
  --color-primary-300: 161 189 231;
  --color-primary-400: 91 140 213;
  --color-primary-500: 21 91 195;
  --color-primary-600: 19 82 176;
  --color-primary-700: 13 55 117;
  --color-primary-800: 9 41 88;
  --color-primary-900: 6 27 59;

  /* Secondary */
  --color-secondary-50: 248 248 255;
  --color-secondary-100: 241 241 255;
  --color-secondary-200: 221 221 255;
  --color-secondary-300: 201 200 255;
  --color-secondary-400: 160 158 255;
  --color-secondary-500: 119 117 255;
  --color-secondary-600: 107 105 230;
  --color-secondary-700: 71 70 153;
  --color-secondary-800: 54 53 115;
  --color-secondary-900: 36 35 77;

  /* Tertiary */
  --color-tertiary-50: 250 244 251;
  --color-tertiary-100: 245 234 248;
  --color-tertiary-200: 230 202 236;
  --color-tertiary-300: 215 171 225;
  --color-tertiary-400: 186 107 203;
  --color-tertiary-500: 156 44 180;
  --color-tertiary-600: 140 40 162;
  --color-tertiary-700: 94 26 108;
  --color-tertiary-800: 70 20 81;
  --color-tertiary-900: 47 13 54;

  /* Body */
  /* --------------------------------------------- */

  --body-background-color: #fff;
  --body-font-color: '#000';
  --body-font-family: 'Roboto', Arial, sans-serif;
  --body-font-size: 1rem;

  /* Headings */
  /* --------------------------------------------- */

  --heading-font-family: 'Roboto', Arial, sans-serif;
  --heading-font-weight: 600;
  --heading-font-color: '#000';

  /* H1 */
  --heading-h1-font-size: clamp(1.625rem, 1.357rem + 0.714vw, 2rem);
  --heading-h1-line-height: 1.3;

  /* H2 */
  --heading-h2-font-size: clamp(1.375rem, 1.107rem + 0.714vw, 1.75rem);
  --heading-h2-line-height: 1.3;

  /* H3 */
  --heading-h3-font-size: clamp(1.25rem, 1.071rem + 0.476vw, 1.5rem);
  --heading-h3-line-height: 1.35;

  /* H4 */
  --heading-h4-font-size: clamp(1.125rem, 1.036rem + 0.238vw, 1.25rem);
  --heading-h4-line-height: 1.4;

  /* H5 */
  --heading-h5-font-size: clamp(1rem, 1rem + 0vw, 1rem);
  --heading-h5-line-height: 1.5;

  /* H6 */
  --heading-h6-font-size: clamp(0.875rem, 0.875rem + 0vw, 0.875rem);
  --heading-h6-line-height: 1.5;

  /* Header */
  /* --------------------------------------------- */

  --header-background-color: #fff;
  --header-padding: 2rem 0;
  --header-font-size: clamp(1rem, 4vw, 3rem);

  /* Container */
  /* --------------------------------------------- */

  --container-padding: 0 clamp(1rem, 4vw, 2rem);

  /* Footer */
  /* --------------------------------------------- */

  --footer-background-color: #fff;
  --footer-padding: 2rem 0;
  --footer-font-size: 1rem;

  /* Navigation */
  /* --------------------------------------------- */

  --nav-background-color: #fff;
  --nav-text-color: #1f2937;
  --nav-text-color-hover: #4b5563;
  --nav-border-color: #e5e7eb;
  --nav-padding-horizontal: 1rem;
  --nav-padding-vertical: 0.5rem;
  --nav-dropdown-border-radius: 0.5rem;
  --nav-dropdown-width: 14rem;
  --nav-dropdown-padding: 0.75rem;
  --nav-dropdown-move-distance: 3px;
  --nav-transition-duration: 0.25s;
  --nav-transition-timing: ease-in-out;

  /* Buttons */
  /* --------------------------------------------- */

  /* Default */
  --button-background-color: hsl(0, 0%, 0%);
  --button-border-color: hsl(0, 0%, 0%);
  --button-color: #fff;
  --button-border-radius: 0.375rem;
  --button-padding: 0.5rem 0.75rem;
  --button-font-weight: 600;

  /* Primary Solid */
  --button-primary-solid-background-color: rgb(var(--color-primary-500));
  --button-primary-solid-border-color: rgb(var(--color-primary-500));
  --button-primary-solid-color: #fff;
  --button-primary-solid-hover-background-color: rgb(var(--color-primary-700));
  --button-primary-solid-hover-border-color: rgb(var(--color-primary-700));

  /* Primary Outline */
  --button-primary-outline-background-color: #fff;
  --button-primary-outline-border-color: rgb(var(--color-primary-500));
  --button-primary-outline-color: rgb(var(--color-primary-500));
  --button-primary-outline-hover-background-color: rgb(
    var(--color-primary-100)
  );
  --button-primary-outline-hover-border-color: rgb(var(--color-primary-500));

  /* Primary Text */
  --button-primary-text-background-color: #fff;
  --button-primary-text-border-color: #fff;
  --button-primary-text-color: rgb(var(--color-primary-500));
  --button-primary-text-hover-background-color: #fff;
  --button-primary-text-hover-border-color: #fff;

  /* Secondary Solid */
  --button-secondary-solid-background-color: rgb(var(--color-secondary-500));
  --button-secondary-solid-border-color: rgb(var(--color-secondary-500));
  --button-secondary-solid-color: #fff;
  --button-secondary-solid-hover-background-color: rgb(
    var(--color-secondary-700)
  );
  --button-secondary-solid-hover-border-color: rgb(var(--color-secondary-700));

  /* Secondary Outline */
  --button-secondary-outline-background-color: #fff;
  --button-secondary-outline-border-color: rgb(var(--color-secondary-500));
  --button-secondary-outline-color: rgb(var(--color-secondary-500));
  --button-secondary-outline-hover-background-color: rgb(
    var(--color-secondary-100)
  );
  --button-secondary-outline-hover-border-color: rgb(
    var(--color-secondary-500)
  );

  /* Secondary Text */
  --button-secondary-text-background-color: #fff;
  --button-secondary-text-border-color: #fff;
  --button-secondary-text-color: rgb(var(--color-secondary-500));
  --button-secondary-text-hover-background-color: #fff;
  --button-secondary-text-hover-border-color: #fff;

  /* Tertiary Solid */
  --button-tertiary-solid-background-color: rgb(var(--color-tertiary-500));
  --button-tertiary-solid-border-color: rgb(var(--color-tertiary-500));
  --button-tertiary-solid-color: #fff;
  --button-tertiary-solid-hover-background-color: rgb(
    var(--color-tertiary-700)
  );
  --button-tertiary-solid-hover-border-color: rgb(var(--color-tertiary-700));

  /* Tertiary Outline */
  --button-tertiary-outline-background-color: #fff;
  --button-tertiary-outline-border-color: rgb(var(--color-tertiary-500));
  --button-tertiary-outline-color: rgb(var(--color-tertiary-500));
  --button-tertiary-outline-hover-background-color: rgb(
    var(--color-tertiary-100)
  );
  --button-tertiary-outline-hover-border-color: rgb(var(--color-tertiary-500));

  /* Tertiary Text */
  --button-tertiary-text-background-color: #fff;
  --button-tertiary-text-border-color: #fff;
  --button-tertiary-text-color: rgb(var(--color-tertiary-500));
  --button-tertiary-text-hover-background-color: #fff;
  --button-tertiary-text-hover-border-color: #fff;

  /* Alerts */
  /* --------------------------------------------- */
  --alert-border-radius: 0.375rem;
  --alert-padding: 1rem;
  --alert-font-size: 0.875rem;
  --alert-line-height: 1.25rem;

  /* Information */
  --alert-information-background-color: rgb(239 246 255);
  --alert-information-color: rgb(29 78 216);
  --alert-success-icon-color: rgb(96 165 250);

  /* Success */
  --alert-success-background-color: rgb(240 253 244);
  --alert-success-color: rgb(22 101 52);
  --alert-success-icon-color: rgb(74 222 128);

  /* Warning */
  --alert-warning-background-color: rgb(254 252 232);
  --alert-warning-color: rgb(133 77 14);
  --alert-warning-icon-color: rgb(250 204 21);

  /* Error */
  --alert-error-background-color: rgb(254 242 242);
  --alert-error-color: rgb(153 27 27);
  --alert-error-icon-color: rgb(248 113 113);
}

/*  Dark Mode */
/* --------------------------------------------- */

@media (prefers-color-scheme: dark) {
  :root {
  }
}

/* Reset */
/* --------------------------------------------- */

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* Typography */
/* --------------------------------------------- */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: var(--heading-font-weight);
  color: var(--heading-font-color);
}

h1 {
  font-size: var(--heading-h1-font-size);
  line-height: var(--heading-h1-line-height);
}

h2 {
  font-size: var(--heading-h2-font-size);
  line-height: var(--heading-h2-line-height);
}

h3 {
  font-size: var(--heading-h3-font-size);
  line-height: var(--heading-h3-line-height);
}

h4 {
  font-size: var(--heading-h4-font-size);
  line-height: var(--heading-h4-line-height);
}

h5 {
  font-size: var(--heading-h5-font-size);
  line-height: var(--heading-h5-line-height);
}

h6 {
  font-size: var(--heading-h6-font-size);
  line-height: var(--heading-h6-line-height);
}

body,
p {
  font-family: var(--body-font-family);
  font-size: var(--body-font-size);
  font-weight: var(--body-font-weight);
  color: var(--body-color);
  line-height: var(--body-line-height);
}

a {
  color: var(--link-color);
  text-decoration: underline;
}

b,
strong {
  font-weight: 600;
}

i {
  font-style: italic;
}
